body{
    font-family: Helvetica;

}
ul {
    list-style-type: none;
    margin-top: 0;
    /* padding: 0; */
    overflow: hidden;
    background-color: #333;
  }
  
li {
    float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
 
li a:hover {
background-color: #111;
}
.profile{
    width: 25%;
    height:25%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    display: block;
}
p{
    text-align: center;
    font-size: 2rem;
    font-style: bold;
    word-spacing: 5px; 
    color:white;
    font-family: Helvetica;
    
}
.about{
    width:  100%;
    height: auto;
    object-fit: cover;
    justify-content: space-between;
    margin-right: 30px;   /* Horizontal Space */
    margin-bottom: 30px;
    
}
#btn{
    background-color: #2e2c2c; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-style: double;
}
#btn:hover{
    background-color: red;
    cursor: pointer;
}